{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'users/css/prototype.css' %}">
<script src="{% static 'users/js/prototype.js'%}"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="panelLogo">
    <img class="logo" src="{% static 'users/img/apple.png' %}" alt="logo">
  </div>
    <div class="panelForActions">
      <div class="panelForActionsMain">
        <div class="panelForActionsName"><h1>ZhekiProject</h1></div>
        <div class="panelForActionsDescription"><h2>Присоединяйтесь сегодня.</h2></div>
        <button class="panelButton" id="loginButton" onclick="toggleModal('loginModal')">Войти</button>
        <div class="panelForActionsSeparation"><h2>или</h2></div>
        <button class="panelButton" id="registerButton" onclick="toggleModal('registerModal')">Зарегистрироваться</button>
      </div>
        <div id="loginModal" class="modal">
          <div class="modal-content">
            <span class="close" onclick="toggleModal('loginModal')">&times;</span>
            <h2 class="namePanel">Авторизация</h2>
            <form action="{% url 'users:loginMain'%}" method="post">
              {% csrf_token %}
                <div class="FormRegistration_Data_Information">
                </div>
                    <div class="FormRegistration_Data_Input">
                      {% if error_message %}
                      <div class="error-message">{{ error_message }}</div>
                      {% endif %}
                    {{ form.username}}
                    {{ form.password }}
                    </div>
                    <div class="FormAuthorization_Float">
                    <input type="submit" class="FormAuthorization_Data_Button">
                    <div class="FormAuthorization_Data_Account_True"><a href="#" onclick="toggleModal('loginModal'); toggleModal('registerModal')">Нет аккаунта?</a></div>
                  </div>
            </form>
          </div>
        </div>
        
        {% if popup %}
        <div id="registerModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="toggleModal('registerModal')">&times;</span>
                <h2 class="namePanel">Регистрация</h2>
                <form action="{% url 'users:loginMain' %}" method="post">
                    {% csrf_token %}
                    <div class="FormRegistration_Data_Input">
                        {{ formReg.username }}
                        {{ formReg.email }}
                        {{ formReg.password1 }}
                        {{ formReg.password2 }}
                    </div>
                    <input type="submit" value="Зарегистрироваться">
                </form>
            </div>
        </div>
        {% endif %}
        
        <div id="registerModal" class="modal">
          <div class="modal-content">
            <span class="close" onclick="toggleModal('registerModal')">&times;</span>
            <h2 class="namePanel">Регистрация</h2>
            <form action="{% url 'users:loginMain'%}" method="post">
              {% csrf_token %}
                    <div class="FormRegistration_Data_Input">
                    {{ formReg.username }}
                    {{ formReg.email }}
                    {{ formReg.password1 }}
                    {{ formReg.password2 }}
                    </div>
                    <div class="FormRegistration_Float">
                    <input type="submit" class="FormRegistration_Data_Button">
                    <div class="FormRegistration_Data_Account_True"><a href="#" onclick="toggleModal('registerModal'); toggleModal('loginModal')">Есть аккаунт?</a></div>
                  </div>
            </form>
          </div>
        </div>
</div>
<div class="Float">
  <a href="#" class="FloatText">О нас</a>
  <a href="#" class="FloatText">Справочный центр</a>
  <a href="#" class="FloatText">Политика конфиденциальности</a>
  <a href="#" class="FloatText">Настройки</a>
</div>
</body>
</html>