body{
    background-color: black;
    color: white;
}

li {
    list-style-type: none;
}

.navColumn-item {
    padding-bottom: 15px;
}

.navProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.navProfile-nameColumn_upper {
    font-size: 16px;
}
.navProfile-nameColumn_lower {
    font-size: 12px;
    color: lightslategray
}
.navColumn-item a {
    color: white;
    text-decoration: none;
}

.mainSection {
    display: flex;
}
.createPostButton {
    padding: 2px 20px;
    background-color: rebeccapurple;
    color: white;
    font-size: 50px;
    border: none;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
}
.nav_title {
    color: rebeccapurple;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: white; 
    padding-left: 20px;
}